1. Find the datatype of these two declaration :
x = 5
y = "John"

In [6]:
x = 5
y = "john"
type(x)

int

In [7]:
type(y)

str

2. Check whether the following syntax is valid or invalid for naming
a variable. :
Example: abc=100 #valid syntax
i. 3a=10
ii. @abc=10
iii. a100=100
iv. _a984_=100
v. a9967$=100
vi. xyz-2=100

In [8]:
3a = 10 #Invaild

SyntaxError: ignored

In [9]:
@abc = 10 #Invaild

SyntaxError: ignored

In [10]:
a100 =100 #Valid

In [26]:
_a984_ = 100 #Valid

In [27]:
a9967$ = 100 #Invalid

SyntaxError: ignored

In [28]:
xyz-2 = 100 #Invalid

SyntaxError: ignored

3. Check if element exists in list in Python :
list = test_list = [1, 6, 3, 5, 3, 4]
. Check if 3 exist or not.
. Check if 9 exists or not.

In [14]:
test_list = [1, 6, 3, 5, 3, 4]

In [15]:
3 in test_list #yes, exist

True

In [16]:
9 in test_list #No, not exist

False

4. Take the user input to print the current date.

In [29]:
current_date = input("please enter current date in dd-mm-yyyy format: ")

please enter current date in dd-mm-yyyy format: 27-5-2023

In [30]:
print(current_date)

27-5-2023

5. what is the output of the following code :
a. print 9//2
b. print 9%2

In [18]:
print(9//2)

4

In [19]:
print(9%2)

1

6. Print First 10 natural numbers using a while loop.

In [20]:
i = 1

while i <= 10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

7. Write a program to accept a number from a user and calculate
the sum of all numbers from 1 to a given number.
For example, if the user entered 10 the output should be 55
(1+2+3+4+5+6+7+8+9+10)

In [31]:
a = int(input('please enter natural number: '))
total = 0

for i in range(a+1):
  total += i
print('Total is',total)

please enter natural number: 10
Total is 55

8. Write a Python program which iterates the integers from 1 to 50.
For multiples of three print "Fizz" instead of the number and for
the multiples of ﬁve print "Buzz". For numbers which are
multiples of both three and ﬁve print "FizzBuzz".
Example :
ﬁzzbuzz
1
2
ﬁzz
4
buzz

In [24]:
def convert(a):
  if a % 15 == 0:
    return 'FizzBuzz'
  if a % 3 == 0:
    return 'Fizz'
  if a % 5 == 0:
    return 'Buzz'
  return a 

sol = list(range(1,51))

b = list(map(convert,sol))

In [25]:
print(b)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz', 'Fizz', 22, 23, 'Fizz', 'Buzz', 26, 'Fizz', 28, 29, 'FizzBuzz', 31, 32, 'Fizz', 34, 'Buzz', 'Fizz', 37, 38, 'Fizz', 'Buzz', 41, 'Fizz', 43, 44, 'FizzBuzz', 46, 47, 'Fizz', 49, 'Buzz']